{{ define "main" }}

<h1>{{ .Site.Params.coursecode }}</h1>
<h3>{{ .Site.Params.shorttitle }}</h3>
<p>
Collection website for Immersive Media 371, F23. This website will contain up-to-date project and topic information, and any relevant files that can be made freely available online.
</p>
<p>Students will examine the uses of immersive media in the fields of education and training, utilizing game design methods and research. They will learn game design, advanced experience design, and instructional design through analysis of existing experiences and a series of practical group projects developing immersive experiences.</p>
<div class="wrapper">
  <hr />
<h3 class="ta-center">Course Details</h3>
    <ul>
        <li><strong>Meeting Times:</strong> Tuesdays 10am-12:30pm</li>
        <li><a href={{ref . "assignments"}}> All Assignments</a></li>
        <li><a href={{ref . "notes"}}> All Notes</a></li>
        <li><a href={{ref . "projects"}}> Student Projects</a></li>
    </ul>
    <hr />
    <h3 class="ta-center">Topics</h3>

    {{ with .Site.GetPage "/topics" }}
            <div class="crumbs">
            <ul class="crumbs" role="list">

    {{ range (sort .Data.Pages ".Params.topic" "asc" (where .Pages ".Params.private" "!=" true))}}
                <li><a href="#{{.Title}}">{{ .Params.short }}</a></li>
    {{ end }}
        </ul>
        </div>
{{ end }}


{{ $weekcount := 0 }}
{{ with .Site.GetPage "/topics" }}
    {{ range (sort .Data.Pages ".Params.topic" "asc" (where .Pages ".Params.private" "!=" true))}}
        <div class="topic" id={{ .Title }}>
            <h3>
                <a href="#{{.Title}}">#</a> {{ .Params.topic }} - <strong>{{ .Title }}</strong>
            </h3>
        <p class="weeks">Weeks:
        {{ if gt .Params.weeks 0 }}
        {{ range $i, $e :=seq .Params.weeks }}
            {{- $weekcount = add $weekcount 1 -}}
        {{ if $i }}, {{ end}}
        {{- $weekcount -}}
        {{end}}
        {{ else}}
            {{- range $i, $e := seq (sub .Site.Params.weeks $weekcount) -}}
                {{- $weekcount = add $weekcount 1 -}}
                {{ if $i }}, {{ end }}{{- $weekcount -}}
            {{end}}
        {{end}}
        </p>
            {{ .Content }}
        </div>
    <hr style="width:60%; margin: auto" />
    {{ end }}
{{ end }}
</div>

{{ end }}
